<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis350.foodtruckapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CustomerMainMenuActivity"
            android:label="Main Menu" />
        <activity
            android:name=".VendorMainMenuActivity"
            android:exported="true"
            android:label="Main Menu"></activity>
        <activity
            android:name=".RegistrationActivity"
            android:exported="true"
            android:label="Registration" />
        <activity
            android:name=".RegistrationVendor"
            android:label="Registration Vendor" />
        <activity
            android:name=".FavoritesActivity"
            android:label="Favorites" />
        <activity
            android:name=".TopFoodTrucksActivity"
            android:label="Top Food Trucks" />
        <activity
            android:name=".NearMeActivity"
            android:label="Food trucks Near Me" />
        <activity
            android:name=".RegisterChoiceActivity"
            android:label="Type of User" />
        <activity
            android:name=".LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VendorOrdersActivity"
            android:label="My Orders" />
        <activity
            android:name=".TruckActivity"
            android:label="Rate Food Truck" />
        <activity
            android:name=".VendorProfileActivity"
            android:label="@string/title_activity_vendor_profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>