<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis350.foodtruckapp">

    <permission
        android:name="edu.upenn.cis350.foodtruckapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.weaverprojects.gpstest.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".CustomerMainMenuActivity"
            android:label="Main Menu" />
        <activity
            android:name=".VendorMainMenuActivity"
            android:exported="true"
            android:label="Main Menu" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true"
            android:label="Registration" />
        <activity
            android:name=".RegistrationVendor"
            android:label="Registration Vendor" />
        <activity
            android:name=".FavoritesActivity"
            android:label="Favorites" />
        <activity
            android:name=".TopFoodTrucksActivity"
            android:label="Top Food Trucks" />
        <activity
            android:name=".NearMeActivity"
            android:label="Food trucks Near Me" />
        <activity
            android:name=".RegisterChoiceActivity"
            android:label="Type of User" />
        <activity
            android:name=".LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VendorOrdersActivity"
            android:label="My Orders" />
        <activity
            android:name=".TruckActivity"
            android:label="Rate Food Truck" />
        <activity
            android:name=".VendorProfileActivity"
            android:label="@string/title_activity_vendor_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VendorProfileForCustomerActivity"
            android:label="@string/title_activity_vendor_profile"
            android:theme="@style/AppTheme" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <activity
            android:name=".VendorAnalyticsActivity"
            android:label="My Stats">
        </activity>

        <activity android:name=".CustomerOrderHistoryActivity"
            android:label="Order History"
            android:exported="true">
        </activity>

        <activity
            android:name=".Cart"
            android:exported="true"
            android:label="My Orders" />
        <activity android:name=".VendorReviewsActivity" />
        <activity
            android:name=".ShareEmailActivity"
            android:label="@string/title_activity_share_email"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>